<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1520116468816-95b69f847357?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80);">
  <div class="container">
    <%= render "shared/back_btn" %>
    <h1>Booking to <%= @ride.beach.name %></h1>
    <h1 style="font-size: 25px;"><%= @ride.date_time.strftime("%B") %> <%= @ride.date_time.day%>th</h1>
  </div>
</div>

<div>
  <%= simple_form_for [@ride, @booking] do |f|%>

    <div class="container">
      <div class="d-flex justify-content-between">
        <div class="card-location-infos mx-3 mt-4">
          <div class="d-flex">
          <div><p class="me-2"><i class="fa-sharp fa-solid fa-location-dot" style="color: #61D8EF;"></i></p></div>
            <div>
              <p><%= @ride.address %></p>
              <div style="font-size: 13px; margin-top: -15px;"><p>Area</p></div>
            </div>
          </div>
          <div class="d-flex">
          <div><p class="me-2"><i class="fa-sharp fa-solid fa-location-dot" style="color: #61D8EF;"></i></p></div>
            <div>
              <p><%= @ride.beach.address %></p>
              <div style="font-size: 13px; margin-top: -15px;"><p>Area</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr style="border-width: 8px; border-color:#a9a6a6;">
    <div class="container mt-3">
      <%= f.input :seats%>
    </div>
    <div class="container mt-3">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p style="margin-bottom: 0;">Price per seat:</p>
        </div>
        <div>
          <div style="padding: 5px 10px;">
            <div>€ <%= @ride.price %></div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h3 style="margin-bottom: 0;">Total:</h3>
        </div>
        <div>
          <div style="background-color: #61D8EF; border-radius: 35px; padding: 5px 10px;">
            <div>€10</div>
          </div>
        </div>
      </div>

    </div>
    <hr style="border-width: 8px; border-color:#a9a6a6;">
    <div class="container mt-3">
      <h2>Cancellation Policy</h2>
      <p><strong>Free cancellation 24 hours before pick up.</strong> Non-refundable for later cancellations.</p>
    </div>
    <hr style="border-width: 8px; border-color:#a9a6a6;">
    <div class="container mt-3">
      <h2>Ground Rules</h2>
      <p>We ask every one to remember a few simple things about how have a harmonious ride:</p>
      <div class="d-flex align-items-center mb-2">
        <i class="fa-solid fa-thumbs-up me-2"></i>
        <p style="margin-bottom: 0;">Respect the driver and the other passengers</p>
      </div>
      <div class="d-flex align-items-center mb-2">
        <i class="fa-solid fa-thumbs-up me-2"></i>
        <p style="margin-bottom: 0;">Respect the drivers car</p>
      </div>
      <div class="d-flex align-items-center mb-2">
        <i class="fa-solid fa-thumbs-down me-2"></i>
        <p style="margin-bottom: 0;">Leave trash behind</p>
      </div>
    </div>
    <hr style="border-width: 8px; border-color:#a9a6a6;">
    <div class="container mt-3">
      <p><em>By selecting the button bellow, I agree to the <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">TagAlong Booking & Refund Policies</a>, and that TagAlong can charge my payment method if I'm responsible for damage.</em></p>
    </div>
    <div class="d-flex justify-content-center my-3">
      <%= f.submit "Book now", class:"btn-blue"%>
    </div>
  <% end %>
</div>
