<%= link_to beach_path(beach, date: @date), class:"no-text-decoration" do %>
  <div class="location-card me-3"
  style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url('<%= cl_image_path beach.photo.key %>')"
  data-controller="wheather-api"
  data-wheather-api-lat-value="<%= beach.latitude %>"
  data-wheather-api-long-value="<%= beach.longitude %>"
  data-wheather-api-api-key-value="<%= ENV['STORMGLASS_API_KEY'] %>">
    <h1 class="absolute beach-name"><%= beach.name %></h1>
    <div class="d-flex absolute rides-tag"><p class="zero-bottom">Rides: <%= beach.rides.on_date(@date).count %></p></div>
    <div class="contidions-container">
      <div class="wind-container">
        <p class="condition-stat"><i class="fa-solid fa-wind"></i></p>
        <p class="condition-stat ms-2" data-wheather-api-target="windspeed"></p>
        <p class="condition-stat">m/s</p>
        <p class="condition-stat ms-2" data-wheather-api-target="winddirection"></p>
      </div>
      <div class="wave-container">
        <p class="condition-stat"><i class="fa-solid fa-water"></i></p>
        <p class="condition-stat ms-2" data-wheather-api-target="waveheight"></p>
        <p class="condition-stat">m</p>
      </div>
    </div>
    <h3 class="absolute beach-location"><i class="fa-solid fa-location-dot"></i> <%= beach.location.name %></h3>
  </div>
<% end %>
