<%= link_to location_path(location, date: @date) do %>
  <% if location.photo.present? %>
    <div class="location-card me-3" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url('<%= cl_image_path location.photo.key %>')">
      <h1 class="absolute name zero-bottom"><%= location.name %></h1>
      <div class="d-flex absolute rides-tag">
        <p class="zero-bottom">Rides: <%= location.rides.on_date(@date).count %></p>
      </div>
    </div>
  <% else  %>
    <div class="location-card me-3" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url('<%= image_path 'background.jpg' %>')">
      <h1 class="absolute name zero-bottom"><%= location.name %></h1>
      <div class="d-flex absolute rides-tag">
        <p class="zero-bottom">Rides: <%= location.rides.count %></p>
      </div>
    </div>
    <% end %>
<% end %>
