<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @beach.photo.key %>');">
  <div class="d-flex justify-content-between mx-2">
    <%= render "shared/back_btn" %>
    <%= render "shared/heart_btn" %>

  </div>
</div>

<div style="background-color: #F2FDFF; border-radius: 20px 20px 0 0;">
  <div class="container-rides-index-card mx-3">
    <div><h1 class="text-center">Rides to <%= @beach.name %></h1></div>
      <% @rides.each do |ride|%>
        <%= render "ride_card", ride: ride %>
      <%end%>
  </div>

</div>
