<div style="position: relative;">
  <div class="show_rides" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @ride.beach.photo.key %>);">
    <div class="container">
      <div style="padding-top: 50px;" class="title d-flex justify-content-center algin-items-center">
        <h1>Edit Ride</h1>
      </div>
    </div>
  </div>
</div>

<div style="background-color: #F2FDFF; border-radius: 20px 20px 0 0; position: relative; margin-top: -40px;">
  <div class="space-div"></div>
  <div class="mt-4 ride-new" style="border-radius: 20px">
    <%= simple_form_for @ride do |f| %>
      <%= f.association :beach, collection: Beach.order('name ASC'), label: false, prompt: "Beach" %>
      <%= f.input :date_time, as: :datetime, label: false %>
      <%= f.input :address, label: false,
        input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
        wrapper_html: {class: "map-search", data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"] } }
      %>
      <%= f.input :seats, collection: 1..5, label: false, prompt: "Seats" %>
      <%= f.input :price, label: false, placeholder: "Price (€)" %>
      <div class="d-flex justify-content-center">
        <%= f.submit class: "btn-blue" %>
      </div>
    <% end %>
  </div>
</div>
