<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1520116468816-95b69f847357?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80);">
  <div class="container">
    <h1>New Ride</h1>
  </div>
</div>
<div class="container mt-3">
  <%= simple_form_for [@ride] do |f|%>
    <%= f.association :beach%>
    <%= f.input :date_time, as: :datetime%>
    <%= f.input :pick_up_location%>
    <%= f.input :seats%>
    <%= f.input :price%>
    <%= f.submit%>
  <% end %>
</div>
