<!DOCTYPE html>
<html>
  <head>
    <title>TagAlong</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" type="image/png" href="/images/favicon-16x16.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
  </head>

  <body>
    <% if current_page?(profile_path) %>
      <%= render "shared/curvo" %>
    <% elsif current_page?(dashboard_path) || current_page?(root_path) %>
      <%= render "shared/navbar" %>
    <% elsif params[:id] && current_page?(chatroom_path(id: params[:id]))%>
      <%= render "shared/message_nav" %>
    <% else %>
      <%= render "shared/simple_nav" %>
    <% end %>
    <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
